# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# pip related
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
htmlcov/
.coverage
.cache
coverage.xml
nosetests.xml
*.cover
.hypothesis/

.idea/
utils/logs/